<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <!--link rel="icon" href="../../favicon.ico"-->

    <title>Build-Zeitung</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('res/css/main.css') }}" rel="stylesheet">
</head>

<body>

{% block navbar %}
    {% include '@App/navbar.html.twig' %}
{% endblock %}

<div class="container">
    {% block content %}{% endblock %}
    <hr>
    <footer>
        <p>&copy;  2017 Coding Berlin</p>
    </footer>
</div> <!-- /container -->


<script src="{{ asset('res/js/main.js') }}"></script>
</body>
</html>
