<form action="{{ form_action }}" method="POST" class="form-inline">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" name="slug">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">+ tag</button>
        </span>
    </div>
</form>