<div class="row">
    <div class="col">
        <div class="salvattore-grid" id="excerpt-grid" data-columns data-toggle="infinite-list">
            {% include 'AppBundle:Excerpt:_cards.html.twig' %}
        </div>
    </div>
</div>
