{% extends '@App/master.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {{ render(controller('AppBundle:Meetup:meetup')) }}
        </div>
    </div>
{% endblock %}