//@import 'theme/_journal';
@import 'node_modules/bootstrap/scss/_variables';
$brand-primary: $orange;
$brand-black: #333;
@import 'node_modules/bootstrap/scss/bootstrap';

.btn-black {
  @include button-variant($btn-primary-color, $brand-black, $brand-black);
}
// Remove all backgrounds
.btn-outline-black {
  @include button-outline-variant($brand-black);
}

//@import 'theme/_bootswatch';
@import 'node_modules/font-awesome/scss/font-awesome';

table {
  tr.muted {
    background-color: $gray-lightest;
    opacity: .5;
    font-size: 0.8rem;
  }
}