@import '_variables';

@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

.btn-black {
  @include button-variant($btn-primary-color, $brand-black, $brand-black);
}
// Remove all backgrounds
.btn-outline-black {
  @include button-outline-variant($brand-black);
}

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

#brand-logo {
  font-family: 'Teko', sans-serif;
  background: repeating-linear-gradient(
      45deg, #EA2C1B, #EA2C1B 10px, #DE2C1B 10px, #DE2C1B 20px
  );
  color: white;
  text-align: center;

  .logo-build {
    display: inline-block;
    margin-top:7rem;
    font-size: 11rem;
    line-height: 8rem;
    //letter-spacing: -0.25rem;
    transform: scaleY(2);
  }
  .logo-times {
    font-size: 2.1rem;
    text-transform: uppercase;
    letter-spacing: 2.1rem;
    line-height: 6rem;
    margin-left: 5%;
  }
}

table {
  &.no-border {
    td {
      border: none;
    }
  }
  tr.muted {
    background-color: $gray-lightest;
    opacity: .5;
    font-size: 0.8rem;
  }
}

.salvattore-grid[data-columns] {
  @include media-breakpoint-up(xs){
    &::before {
      content: '1 .column.size-1of1';
    }
  }
  @include media-breakpoint-between(sm, lg){
    &::before {
      content: '2 .column.size-1of2';
    }
  }
  @include media-breakpoint-up(lg){
    &::before {
      content: '3 .column.size-1of3';
    }
  }

  .column { float: left; }
  .size-1of1 { width: 100%; }
  .size-1of2 { width: 50%; }
  .size-1of3 { width: 33.333%; }

  .card {
    margin-bottom: $card-columns-margin;
    @include media-breakpoint-up(xs){
      margin: $card-columns-margin;
    }
  }
}