@import '_variables';

@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

body {
  background: linear-gradient(45deg, $body-bg 0%,$brand-primary 100%);
}

.btn-black {
  @include button-variant($btn-primary-color, $brand-black, $brand-black);
}
// Remove all backgrounds
.btn-outline-black {
  @include button-outline-variant($brand-black);
}

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

table {
  &.no-border {
    td {
      border: none;
    }
  }
  tr.muted {
    background-color: $gray-lightest;
    opacity: .5;
    font-size: 0.8rem;
  }
}

.salvattore-grid[data-columns] {
  @include media-breakpoint-up(xs){
    &::before {
      content: '1 .column.size-1of1';
    }
  }
  @include media-breakpoint-between(sm, lg){
    &::before {
      content: '2 .column.size-1of2';
    }
  }
  @include media-breakpoint-up(lg){
    &::before {
      content: '3 .column.size-1of3';
    }
  }

  .column { float: left; }
  .size-1of1 { width: 100%; }
  .size-1of2 { width: 50%; }
  .size-1of3 { width: 33.333%; }

  .card {
    margin-bottom: $card-columns-margin;
    @include media-breakpoint-up(xs){
      margin: $card-columns-margin;
    }
  }
}