@import '_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

#main-teaser {
  height:100%;
  min-height: 320px;
  .carousel, .carousel-inner, .carousel-item, .bz-carousel-item {
    height:100%
  }
  .carousel-item {

    .bz-carousel-image {
      width: 100%;
      background-size: cover;
      background-color: black;
    }
    .carousel-caption {
      flex: 1;
      h3 {
        font-size: 2em;
        @include media-breakpoint-up(md){
          font-size: 2.5em;
        }
        text-shadow: 2px 2px 4px $black;
        font-weight: bolder;
      }
    }
  }

}

.card {
  .card-block {
    color: $gray-dark;
  }
  .card-footer {
    a {
      color: $brand-primary;
    }
  }
}

h2.section-header {
  text-align:center;
  small {
    display: block;
    font-size: 60%;
    color: darken($body-color, 10%);
  }
}

section.section-inverse {
  background-color: $bz-red;
  color: $white;
  a {
    color: $white;
  }
}
