@import '_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

#brand-logo {
  font-family: 'Teko', sans-serif;
  background: repeating-linear-gradient(
      45deg,
      #EA2C1B,
      #EA2C1B 10px,
      #DE2C1B 10px,
      #DE2C1B 20px
  );
  color: white;
  text-align: center;
  width: 100%;

  .logo-build {
    display: inline-block;
    margin-top:7rem;
    font-size: 11rem;
    line-height: 8rem;
    //letter-spacing: -0.25rem;
    transform: scaleY(2);
  }
  .logo-times {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2.5rem;
    line-height: 6rem;
    margin-left: 2rem;
  }
}

#main-teaser {
  height:100%;
  min-height: 320px;
  .carousel, .carousel-inner, .carousel-item, .bz-carousel-item {
    height:100%
  }
  .carousel-item {

    .bz-carousel-image {
      width: 100%;
      background-size: cover;
      background-color: black;
    }
    .carousel-caption {
      flex: 1;
      h3 {
        font-size: 2em;
        @include media-breakpoint-up(md){
          font-size: 2.5em;
        }
        text-shadow: 2px 2px 4px $black;
        font-weight: bolder;
      }
    }
  }

}

.card {
  .card-block {
    color: $gray-dark;
  }
  .card-footer {
    a {
      color: $brand-primary;
    }
  }
}

h2.section-header {
  text-align:center;
  small {
    display: block;
    font-size: 60%;
    color: darken($body-color, 10%);
  }

}

section.section-banner {
  padding: 30px 0px;
  margin-left: -10px;
  margin-right: -10px;

  &.section-white {
    background-color: $white;
    color: $black;
    a {
      color: $brand-primary;
    }
  }
}
